.assets {
  &__toolbar {
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }

  &__title {
    font-weight: 600;
    font-size: 1.25rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }


  &__empty {
    text-align: center;
    color: #888;
    font-style: italic;
    grid-column: 1 / -1;
  }
}
